torch~=1.12.1+cu116
torchvision~=0.13.1+cu116
pandas~=1.5.0
tqdm~=4.64.1
Pillow~=9.2.0
pyinaturalist~=0.17.4
pytorch-lightning
numpy~=1.23.3
scipy
pytest~=7.1.3
setuptools~=63.4.1
rasterio~=1.3.4
fiona~=1.8.22
seaborn~=0.12.1
torchmetrics~=0.10.0
matplotlib~=3.6.2